html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: "Roboto",Arial,sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input{
  box-sizing:border-box
} 

button {
  background: none;
  border: none;
}

/* ^ CSS Reset ^ *//* ^ CSS Reset ^ *//* ^ CSS Reset ^ *//* ^ CSS Reset ^ *//* ^ CSS Reset ^ *//* ^ CSS Reset ^ */

@media screen and (max-width: 1024px){
  .rec-column {
    display: none;  
  }
}

@media screen and (max-width: 657px){
  .search-area {
    display: none;
    visibility: hidden;
  }
}

/* ^ media rules *//* ^ media rules *//* ^ media rules *//* ^ media rules *//* ^ media rules *//* ^ media rules */

:root {
  --main-bg-color-dark: #191919;
  --main-border-color-dark: hsl(0, 0%, 18.82%);
  --sec-txt-color: #AAA;
  --main-light-blue: #3EA6FF;
}

body {
  background-color: var(--main-bg-color-dark);
  color: white;
  font-family: "Roboto",Arial,sans-serif;
}

.notice-banner {
  height: 24px;
  background-color: #32BF84;
  font-size: 16px;
  color: #023a1e;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.navbar {
  height: 56px;
  background-color: var(--main-bg-color-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-border-color-dark);
  position: sticky;
  top: 24px;
  z-index: 10;
}

.navbar > div {
  display: flex;
  align-items: center;
}

.nav-left {
  margin-left: 20px;
}

.hamburger {
  padding: 4px;
  margin: 8px 24px 8px 8px;
}

.logo {
  height: 24px;
  width: 80px;
}

.search-area {
  display: flex;
  height: 32px;
  margin: 0 40px;
  min-width: 216px;
  width: 516px;
}

.search-bar {
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
}

.search-input {
  background-color: #000;
  height: 32px;
  width: 100%;
  border: 1px solid var(--main-border-color-dark);
  padding-left: 12px;
}

.search-input::placeholder {
  color: hsla(0, 100%, 100%, 0.5);
  opacity: 1;
  font-size: 16px;
  line-height: 24px;
}

.search-button {
  background-color: #303030;
  height: 100%;
  width: 65px;
  padding: 1px 6px;
  border: none;
}

.fa-search {
  color: hsla(0, 100%, 100%, 0.5);
}

.search-voice {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}

.fa-microphone {
  font-size: 20px;
}

.nav-right {
  height: 40px;
  margin-right: 16px;
  justify-content: center;
  align-items: center;
}

.nav-right > i {
  font-size: 20px;
  margin: 8px 16px 8px 8px;
}

.sign-in-button {
  text-transform: uppercase;
  height: 40px;
  width: max-content;
  padding: 5px 11px;
  background-color: inherit;
  border: 1px solid var(--main-light-blue);
  color: var(--main-light-blue);
  display: flex;
  align-items: center;
  font-size: 14px;
}

.fa-user-circle {
  font-size: 24px;
  margin-right: 8px;
}

.main {
  width: auto;
  display: flex;
}

.video-column {
  width: fill;
  height: 100%;
  padding: 24px;
}

.youtube-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.youtube-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-details {
  width: 100%;
  padding: 20px 0 0 0;
  border-bottom: 1px solid var(--main-border-color-dark);
}

.video-title {
  min-height: 24px;
  font-size: 18px;
  font-weight: 400px;
}

.video-details-data-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--sec-txt-color);
}

.viewer-date-data {
  font-size: 14px;
  padding-bottom: 8px;
}

.video-details-button-bar {
  display: flex;
  height: 44px;
  align-items: flex-start;
}

.button-bar-button {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  height: 36px;
  padding: 0 6px 0 0;
  background: none;
  border: none;
  color: var(--sec-txt-color);
  font-size: 14px;
  font-weight: 500;
}

.button-bar-button-img {
  padding: 6px;
}

.likes-button, .dislikes-button {
  height: 44px;
  padding-bottom: 6px;
  border-bottom: 2px solid var(--sec-txt-color);
}

.channel-wrapper {
  padding: 0 0 16px;
  margin: 0 0 24px;
  border-bottom: 1px solid var(--main-border-color-dark);
}

.channel-info-wrapper {
  height: 50px;
  width: 100%;
  margin: 0 0 12px;
  padding: 16px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.channel-logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
}

.channel-info {
  flex-grow: 1;
}

.channel-title, .channel-subscriber-count {
  min-height: 16px;
}

.channel-title {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.channel-subscriber-count {
  font-weight: 400;
  font-size: 13px;
  color: var(--sec-txt-color);
  text-size-adjust: 100%;
}

.verified-img {
  height: 13px;
  padding: 0 0 0 4px
}

.subscribe-btn-main {
  border: none;
  background-color: #CC0000;
  text-transform: uppercase;
  color: #FFF;
  font-size: 14px;
  font-weight: 550;
  font-stretch: 100%;
  letter-spacing: .007px;
  text-size-adjust: 100%;
  margin: 0 4px;
  padding: 10px 16px;
}

.channel-description {
  margin: 0 25% 0 64px;
  white-space: pre-line;
  line-height: 20px;
}

.show-less {
  height: 60px;
  overflow: hidden;
}

.show-more-toggle {
  height: 20px;
  margin: 8px 0 0 64px;
  padding: 0;
  font-size: 13px;
  color: var(--sec-txt-color);
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 0.007px;
  font-weight: 550;
}

.comments-data {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: normal;
  margin: 0 0 24px 0;
}

.num-comments {
  margin: 0 32px 0 0;
}

.sort-comments-button {
  display: flex;
  align-items: center;
  color: var(--sec-txt-color);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 550;
  line-height: 22px;
  letter-spacing: .007px;
}

.sort-comments-img {
  height: 24px;
  margin: 0 8px 0 0;
}

.add-comment {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin: 0 0 32px 0;
}

.add-comment > .fa-user-circle {
  font-size: 40px;
  color: var(--main-light-blue);
  margin: 0 16px 0 0;
}

.add-comment input {
  background: none;
  border: none;
  border-bottom: 1px solid var(--main-border-color-dark);
  height: 25px;
  width: 100%;
  padding: 0 0 4px;
}

.add-comment input::placeholder {
  font-size: 14px;
  color: var(--sec-txt-color)
}

.comment {
  margin: 0 0 16px 0;
}

.comment-details {
  display: flex;
}

.commenter-profile-img {
  padding: 0 16px 0 0;
}

.commenter-profile-img img {
  height: 40px;
  border-radius: 50%;
}

.comment-header {
  height: 20px;
}

.commenter-username {
  margin: 0 4px 2px 0;
  font-size: 13px;
  font-weight: 550;
}

.comment-age {
  font-size: 12px;
  color: var(--sec-txt-color)
}

.comment-text {
  min-height: 20px;
  font-size: 14px;
}

.comment-buttons {
  height: 32px;
  display: flex;
}

.comment-button {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  height: 36px;
  padding: 0 6px 0 0;
  background: none;
  border: none;
  color: var(--sec-txt-color);
  font-size: 14px;
  font-weight: 500;
}

.comment-button-img {
  height: 16px;
  padding: 8px;
}

.comment-button-text {
  margin: 0 8px 0 0;
}

.comment-buttons > .likes-button {
  font-size: 12px
}

.comment-buttons > .reply-button {
  font-size: 13px
}

.comment-replies {
  margin: 0 0 0 56px;
  padding: 2px 0 10px;
  font-size: 14px;
  font-weight: 550;
  letter-spacing: .007px;
  color: var(--main-light-blue);
}

.comment-replies i {
  margin: 0 12px 0 0;
}

.rec-column {
  max-width: 30%;
  height: 100%;
  padding: 24px 24px 0 0;
}

.rec-filter {
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
  overflow: auto;
  /* this will hide the scrollbar in mozilla based browsers */
  overflow: -moz-scrollbars-none;
  /* this will hide the scrollbar in internet explorers */
  -ms-overflow-style: none;
}

/* this will hide the scrollbar in webkit based browsers - safari, chrome, etc */
.rec-filter::-webkit-scrollbar { 
  width: 0 !important;
  display: none; 
}

.rec-filter-arrow {
  height: inherit;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

.fa-chevron-right {
  height: 16px;
  width: 16px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-bg-color-dark);
  border-top: 1px solid var(--main-bg-color-dark);
  border-bottom: 1px solid var(--main-bg-color-dark);
}

.rec-filter-gradient {
  width: 30px;
  height: 100%;
  background: linear-gradient(0.25turn,transparent, var(--main-bg-color-dark));
}

.rec-tab {
  white-space: nowrap;
  height: 32px;
  margin: 8px 8px 8px 0;
  padding: 0 12px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  background: rgba(255,255,255,0.1);
  font-size: 14px;
  border: 1px solid #ffffff1a;
}

.rec-tab-selected {
  background: rgba(255,255,255,1);
  color: var(--main-bg-color-dark)
}

.rec-video {
  display: flex;
  margin: 8px 0 0;
}

.rec-thumbnail {
  position: relative;
  margin: 0 8px 0 0;
  width: 168px;
  height: 94px;
}

.rec-thumbnail-img {
  width: 168px;
  height: 94px;
}

.rec-thumbnail-timestamp {
  position: absolute;
  margin: 4px;
  padding: 3px 4px;
  right: 0px;
  bottom: 0px;
  font-size: 12px;
  background: black;
}

.rec-details {
  min-width: 150px;
}

.rec-title {
  min-height: 32px;
  margin: 0 0 4px;
  font-size: 14px;
  font-weight: 550;
  line-height: 16px;
}

.rec-channel, .rec-stats {
  font-size: 12px;
  color: var(--sec-txt-color);
  height: 18px;
  line-height: 18px;
}
